<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>案例研究</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/examples.css" type="text/css" media="screen" />
</head>
<body>
<div class="examples_page">
	<!-- 在中间放置预览框 -->
	<div class="superbox-show">	
		<div class="show_block">
			<div class="con pre">
				<a href="javascript:void(0);"></a>
			</div>
			<div class="con next">
				<a href="javascript:void(0);"></a>
			</div>
			<div class="top_block">
				<div class="page"><span>1</span><span></span></div>
				<div class="superbox-close">close<i></i></div>
			</div>
			<div class="show_left">
				<div class="show_imgs">
				    <ul>
<!-- 				    <li>
				    		<img src="../static/images/case_1.jpg"/>
				    	</li>
				    	<li>
				    		<img src="../static/images/case_2.jpg"/>
				    	</li>
				    	<li>
				    		<img src="../static/images/case_3.jpg"/>
				    	</li>
				    	<li>
				    		<img src="../static/images/case_4.jpg"/>
				    	</li>
				    	<li>
				    		<img src="../static/images/case_5.jpg"/>
				    	</li> -->
				    </ul>
				 </div>
				<div class="sorrow sorrow_left">
					<a href="javascript:void(0);"></a>
				</div>
				<div class="sorrow sorrow_right">
					<a href="javascript:void(0);"></a>
				</div>			
			</div>
			<div class="show_right">
				<h4></h4>
				<h5></h5><hr style=" height:2px;border:none;border-top:1px solid #fff;margin-right:10px;" />
				<p class="desc"></p>					
				<div class="color_block">
					<p>色彩研究</p>
					<ul>
						<li style="background:#e6e6e6"></li>
						<li style="background:#fff"></li>
						<li style="background:#69a2da"></li>
						<li style="background:#255791"></li>
					</ul>
				</div>			
			</div>
		</div>
	</div>
	<!-- end -->
	<div class="control prepage">
		<a href="javascript:void(0);"></a>
	</div>
	<div class="control nextpage">
		<a href="javascript:void(0);"></a>
	</div>
	<div class="wrapper">
		<!-- 共四行，每行五个 -->
		<div class="wrapper_content">
			<div class="superbox_lists" data-page="1">
				<div class="superbox superbox1">
					<ul>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="1" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="2" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="3" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="4" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="5" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="6" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_6.jpg" data-num="7" data-img="../static/images/case_6.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_7.jpg" data-num="8" data-img="../static/images/case_7.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>			
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_8.jpg" data-num="9" data-img="../static/images/case_8.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_9.jpg" data-num="10" data-img="../static/images/case_9.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
					</ul>
				</div>	
				<div class="superbox superbox2">
					<ul>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="11" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="12" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="13" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="14" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="15" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="16" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="17" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="18" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="19" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="20" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="superbox_lists" data-page="2">
				<div class="superbox superbox1">
					<ul>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="21" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="22" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="23" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="24" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="25" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="26" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_6.jpg" data-num="27" data-img="../static/images/case_6.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_7.jpg" data-num="28" data-img="../static/images/case_7.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>			
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_8.jpg" data-num="29" data-img="../static/images/case_8.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_9.jpg" data-num="30" data-img="../static/images/case_9.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
					</ul>
				</div>	
				<div class="superbox superbox2">
					<ul>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="31" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="32" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="33" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="34" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="35" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="36" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="37" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="38" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="39" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="40" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="superbox_lists" data-page="3">
				<div class="superbox superbox1">
					<ul>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="41" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="42" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="43" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="44" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="45" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="46" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_6.jpg" data-num="47" data-img="../static/images/case_6.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_7.jpg" data-num="48" data-img="../static/images/case_7.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>			
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_8.jpg" data-num="49" data-img="../static/images/case_8.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_9.jpg" data-num="50" data-img="../static/images/case_9.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
					</ul>
				</div>	
				<div class="superbox superbox2">
					<ul>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="51" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="52" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="53" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="54" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="55" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_1.jpg" data-num="56" data-img="../static/images/case_1.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_2.jpg" data-num="57" data-img="../static/images/case_2.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_3.jpg" data-num="58" data-img="../static/images/case_3.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_4.jpg" data-num="59" data-img="../static/images/case_4.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
						<li class="superbox-list">
							<a href="javascript:void(0);">
								<img src="../static/images/case_5.jpg" data-num="60" data-img="../static/images/case_5.jpg" data-len="4" class="superbox-img">
								<div class="case_mark">
									<span>创造一个新公司</span>
									<span>名片·宣传册·微网页</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="../static/scripts/jquery.min.js"></script>
<script src="../static/scripts/examples.js"></script>
</html>