body {margin: 0;padding: 0;}
ul {list-style:none;}
img {vertical-align:bottom;}
.clear{clear: both;}
.examples_page{position: absolute;left: 0;top: 70px;width: 100%;height: 950px;background: #e9e9e9;overflow: hidden;}
.wrapper {max-width:960px;margin:0 auto;height: 968px;position: relative;padding-top: 100px;padding-bottom: 100px;overflow: hidden}
/* SuperBox */
.superbox{ width: 100%;height: 386px;}
.superbox_lists{width: 960px;height: 100%;float: left;}
.superbox_list1{}
.superbox_list2{}
.wrapper_content{height: 100%;}
.superbox ul{width: 100%;height: 100%;padding: 0;margin: 0; }
.case_mark{position: absolute;left: 0.5px;top: -0.5px; width: 191px;height: 192px; background: #EF4C4C;color: #fff; z-index: 2;opacity: 0;}
.case_mark span{display: block;width: 100%;text-align: center;line-height: 30px;padding: 56px 0 0 0 ;}
.case_mark span:nth-child(2){font-size: 12px;padding: 0;}
.superbox-list {float:left;width:20%;position: relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-left: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;}

.superbox-img {cursor:pointer;height: 192px;width: 192px;}
.superbox-show {position:absolute;left:0;top: 484px;width:100%;float:left;border:1px solid #c7c7c7;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;height: 0px;background: #ff6666;z-index: 5;display: none;box-shadow: 0px 10px 10px #ff2222 inset;}
.show_block{width: 960px;height: 100%;margin:0 auto;display:none;position: relative;}
.con{position: absolute;top: 45%;width: 60px;height: 60px;z-index: 2;cursor: pointer;border-radius: 30px;background: #fb4c42;}
.con:hover{background: #ff8181;}
.con a{display:block;width:36px;height:36px;margin: 0 auto;margin-top: 12px;}
.pre{left: -20%;}
.pre a{background: url(../images/sorrow_l.png);background-size: 100% 100%; }
.next{right: -20%;}
.next a{background: url(../images/sorrow_r.png);background-size: 100% 100%;}
.control{position: absolute;top: 49%;width: 30px;height: 30px;z-index: 2;cursor: pointer;}
.prepage:hover a{background: url(../images/sorrow_left_active.png);background-size: 100% 100%;}
.nextpage:hover a{background: url(../images/sorrow_right_active.png);background-size: 100% 100%;}
.control a{display:block;width:24px;height:37px;}
.prepage{left: 6%;}
.prepage a{background: url(../images/sorrow_left.png);background-size: 100% 100%; }
.nextpage{right: 6%;}
.nextpage a{background: url(../images/sorrow_right.png);background-size: 100% 100%;}

.show_left{width:80%;height: 100%;float: left;position: relative;}
.show_imgs{width: 97%;height: 90%;overflow: hidden;margin: 25px 20px 25px 0;box-shadow: 0px 0px 2px 4px #fb4c42;}
.show_imgs ul{width: 500%;height: 100%;padding: 0;margin: 0;}
.show_imgs ul li{width: 20%;height: 100%;float: left;}
.show_imgs ul li img{width: 100%;height: 100%;}
.superbox-current-img {position: absolute;left: 0;top: 0;width:100%;height: 100%;z-index: 1;}
.superbox-img:hover {opacity:0.8;}
.sorrow{position: absolute;top: 48%;width: 30px;height: 30px;z-index: 2;background: #fff;cursor: pointer;}
.sorrow:hover{background: #fb4c42;}
.sorrow_left:hover a{background: url(../images/sorrow_l_act.png);background-size: 100% 100%;}
.sorrow_right:hover a{background: url(../images/sorrow_r_act.png);background-size: 100% 100%;}
.sorrow a{display:block;width:12px;height:19px;margin:5.5px 9px;}
.sorrow_left{left: -3px;}
.sorrow_left a{background: url(../images/sorrow_left.png);background-size: 100% 100%;}
.sorrow_right{right: 21px;}
.sorrow_right a{background: url(../images/sorrow_right.png);background-size: 100% 100%;}

.show_right{width:20%;height:96%;float: left;position: relative;margin-top: 20px;}
.show_right h4{margin-top: 40px;}
.show_right h4,.show_right h5{color: #fff;}
.show_right .color_block{height: 90px;position: absolute; bottom: 8px;}
.show_right p{font-size: 13px;color: #fff;line-height: 20px;}
.show_right .color_block ul{padding: 0;margin: 0;}
.show_right .color_block ul li{width: 20px;height: 20px;border-radius: 10px;float: left;margin-right: 5px;border: 1px solid #c7c7c7;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.top_block{position: absolute;left: 0;top: 0; width: 100%;height: 20px;margin-top: 4px;}
.page{position: absolute;top: 0%;right:208px;width: 30px;height: 20px;z-index: 2;}
.page span{color:#b5b5b5;font-size: 14px;}
.page span:nth-child(1){color:#fff;}
.superbox-close {opacity:1;position:absolute;top:0px;right:0px;font-size:14px;width:60px;height:20px;color: #fff;cursor:pointer;}
.superbox-close i{display: inline-block; width:10px;height:10px;background: url(../images/bg_close.png);background-size: 100% 100%;margin-left: 5px;}
.superbox-close:hover {opacity:0.7;}
#footer {position: fixed;bottom: 0;}
